{
    "compactors": [
        "KevinGH\\Box\\Compactor\\Json",
        "KevinGH\\Box\\Compactor\\Php"
    ],
    "directories": [
        "src",
        "vendor"
    ],
    "files": [
        "LICENSE"
    ],
    "git-version": "git-version"
}
