{
    "source": {
        "directories": [
            "src"
        ]
    },
    "timeout": 10,
    "logs": {
        "text": "infections.log",
        "badge": {
            "branch": "master"
        }
    },
    "mutators": {
        "@default": true,
        "global-ignoreSourceCodeByRegex": [
            "assert\\(.+\\);"
        ]
    },
    "minMsi": 84,
    "minCoveredMsi": 85
}
