parameters:
	ignoreErrors:
		-
			message: "#^Should not use node with type \"Expr_Exit\", please change the code\\.$#"
			count: 2
			path: bin/paratest

		-
			message: "#^Should not use node with type \"Stmt_Echo\", please change the code\\.$#"
			count: 1
			path: bin/paratest

		-
			message: "#^Should not use node with type \"Expr_Exit\", please change the code\\.$#"
			count: 2
			path: bin/phpunit-wrapper.php

		-
			message: "#^Variable property access on SimpleXMLElement\\.$#"
			count: 1
			path: src/Logging/JUnit/TestCase.php

		-
			message: "#^Variable property access on ParaTest\\\\Logging\\\\JUnit\\\\TestCase\\.$#"
			count: 1
			path: src/Logging/JUnit/TestCase.php

		-
			message: "#^Construct empty\\(\\) is not allowed\\. Use more strict comparison\\.$#"
			count: 1
			path: src/Logging/JUnit/Writer.php

		-
			message:
				"""
					#^Instantiation of deprecated class PHPUnit\\\\Runner\\\\StandardTestSuiteLoader\\:
					see https\\://github\\.com/sebastianbergmann/phpunit/issues/4039$#
				"""
			count: 1
			path: src/Parser/Parser.php

		-
			message: "#^Only booleans are allowed in a negated boolean, array\\<string\\>\\|bool\\|int\\|string\\|null given\\.$#"
			count: 1
			path: src/Runners/PHPUnit/Options.php

		-
			message: "#^Only booleans are allowed in an if condition, array\\<string\\>\\|bool\\|int\\|string\\|null given\\.$#"
			count: 1
			path: src/Runners/PHPUnit/Options.php

		-
			message: "#^Parameter \\#1 \\$configuration of static method ParaTest\\\\Runners\\\\PHPUnit\\\\Options\\:\\:guessConfigurationFile\\(\\) expects string\\|null, array\\<string\\>\\|bool\\|int\\|string\\|null given\\.$#"
			count: 1
			path: src/Runners/PHPUnit/Options.php

		-
			message: "#^Only booleans are allowed in \\|\\|, array\\<string\\>\\|bool\\|int\\|string\\|null given on the left side\\.$#"
			count: 1
			path: src/Runners/PHPUnit/Options.php

		-
			message: "#^Parameter \\#1 \\$bootstrap of class ParaTest\\\\Runners\\\\PHPUnit\\\\Options constructor expects string\\|null, array\\<string\\>\\|bool\\|int\\|string\\|null given\\.$#"
			count: 1
			path: src/Runners/PHPUnit/Options.php

		-
			message: "#^Parameter \\#2 \\$colors of class ParaTest\\\\Runners\\\\PHPUnit\\\\Options constructor expects bool, array\\<string\\>\\|bool\\|int\\|string\\|null given\\.$#"
			count: 1
			path: src/Runners/PHPUnit/Options.php

		-
			message: "#^Parameter \\#4 \\$coverageClover of class ParaTest\\\\Runners\\\\PHPUnit\\\\Options constructor expects string\\|null, array\\<string\\>\\|bool\\|int\\|string\\|null given\\.$#"
			count: 1
			path: src/Runners/PHPUnit/Options.php

		-
			message: "#^Parameter \\#5 \\$coverageCobertura of class ParaTest\\\\Runners\\\\PHPUnit\\\\Options constructor expects string\\|null, array\\<string\\>\\|bool\\|int\\|string\\|null given\\.$#"
			count: 1
			path: src/Runners/PHPUnit/Options.php

		-
			message: "#^Parameter \\#6 \\$coverageCrap4j of class ParaTest\\\\Runners\\\\PHPUnit\\\\Options constructor expects string\\|null, array\\<string\\>\\|bool\\|int\\|string\\|null given\\.$#"
			count: 1
			path: src/Runners/PHPUnit/Options.php

		-
			message: "#^Parameter \\#7 \\$coverageHtml of class ParaTest\\\\Runners\\\\PHPUnit\\\\Options constructor expects string\\|null, array\\<string\\>\\|bool\\|int\\|string\\|null given\\.$#"
			count: 1
			path: src/Runners/PHPUnit/Options.php

		-
			message: "#^Parameter \\#8 \\$coveragePhp of class ParaTest\\\\Runners\\\\PHPUnit\\\\Options constructor expects string\\|null, array\\<string\\>\\|bool\\|int\\|string\\|null given\\.$#"
			count: 1
			path: src/Runners/PHPUnit/Options.php

		-
			message: "#^Cannot cast array\\<string\\>\\|bool\\|int\\|string\\|null to int\\.$#"
			count: 4
			path: src/Runners/PHPUnit/Options.php

		-
			message: "#^Parameter \\#10 \\$coverageText of class ParaTest\\\\Runners\\\\PHPUnit\\\\Options constructor expects string|null, array\\<string\\>\\|bool\\|int\\|string\\|null given\\.$#"
			count: 1
			path: src/Runners/PHPUnit/Options.php

		-
			message: "#^Parameter \\#11 \\$coverageXml of class ParaTest\\\\Runners\\\\PHPUnit\\\\Options constructor expects string\\|null, array\\<string\\>\\|bool\\|int\\|string\\|null given\\.$#"
			count: 1
			path: src/Runners/PHPUnit/Options.php

		-
			message: "#^Parameter \\#14 \\$filter of class ParaTest\\\\Runners\\\\PHPUnit\\\\Options constructor expects string\\|null, array\\<string\\>\\|bool\\|int\\|string\\|null given\\.$#"
			count: 1
			path: src/Runners/PHPUnit/Options.php

		-
			message: "#^Parameter \\#15 \\$filtered of class ParaTest\\\\Runners\\\\PHPUnit\\\\Options constructor expects array\\<string, string\\|null\\>, array\\<string, array\\<string\\>\\|bool\\|int\\|string\\|null\\> given\\.$#"
			count: 1
			path: src/Runners/PHPUnit/Options.php

		-
			message: "#^Parameter \\#16 \\$functional of class ParaTest\\\\Runners\\\\PHPUnit\\\\Options constructor expects bool, array\\<string\\>\\|bool\\|int\\|string\\|null given\\.$#"
			count: 1
			path: src/Runners/PHPUnit/Options.php

		-
			message: "#^Parameter \\#18 \\$logJunit of class ParaTest\\\\Runners\\\\PHPUnit\\\\Options constructor expects string\\|null, array\\<string\\>\\|bool\\|int\\|string\\|null given\\.$#"
			count: 1
			path: src/Runners/PHPUnit/Options.php

		-
			message: "#^Parameter \\#19 \\$logTeamcity of class ParaTest\\\\Runners\\\\PHPUnit\\\\Options constructor expects string\\|null, array\\<string\\>\\|bool\\|int\\|string\\|null given\\.$#"
			count: 1
			path: src/Runners/PHPUnit/Options.php

		-
			message: "#^Parameter \\#21 \\$noCoverage of class ParaTest\\\\Runners\\\\PHPUnit\\\\Options constructor expects bool, array\\<string\\>\\|bool\\|int\\|string\\|null given\\.$#"
			count: 1
			path: src/Runners/PHPUnit/Options.php

		-
			message: "#^Parameter \\#22 \\$noTestTokens of class ParaTest\\\\Runners\\\\PHPUnit\\\\Options constructor expects bool, array\\<string\\>\\|bool\\|int\\|string\\|null given\\.$#"
			count: 1
			path: src/Runners/PHPUnit/Options.php

		-
			message: "#^Parameter \\#23 \\$parallelSuite of class ParaTest\\\\Runners\\\\PHPUnit\\\\Options constructor expects bool, array\\<string\\>\\|bool\\|int\\|string\\|null given\\.$#"
			count: 1
			path: src/Runners/PHPUnit/Options.php

		-
			message: "#^Parameter \\#1 \\$param of static method ParaTest\\\\Runners\\\\PHPUnit\\\\Options\\:\\:parsePassthru\\(\\) expects string\\|null, array\\<string\\>\\|bool\\|int\\|string\\|null given\\.$#"
			count: 2
			path: src/Runners/PHPUnit/Options.php

		-
			message: "#^Parameter \\#26 \\$path of class ParaTest\\\\Runners\\\\PHPUnit\\\\Options constructor expects string\\|null, array\\<string\\>\\|bool\\|int\\|string\\|null given\\.$#"
			count: 1
			path: src/Runners/PHPUnit/Options.php

		-
			message: "#^Parameter \\#28 \\$processes of class ParaTest\\\\Runners\\\\PHPUnit\\\\Options constructor expects int, array\\<string\\>\\|bool\\|int\\|string\\|null given\\.$#"
			count: 1
			path: src/Runners/PHPUnit/Options.php

		-
			message: "#^Parameter \\#29 \\$runner of class ParaTest\\\\Runners\\\\PHPUnit\\\\Options constructor expects string, array\\<string\\>\\|bool\\|int\\|string\\|null given\\.$#"
			count: 1
			path: src/Runners/PHPUnit/Options.php

		-
			message: "#^Parameter \\#30 \\$stopOnFailure of class ParaTest\\\\Runners\\\\PHPUnit\\\\Options constructor expects bool, array\\<string\\>\\|bool\\|int\\|string\\|null given\\.$#"
			count: 1
			path: src/Runners/PHPUnit/Options.php

		-
			message: "#^Parameter \\#32 \\$tmpDir of class ParaTest\\\\Runners\\\\PHPUnit\\\\Options constructor expects string, array\\<string\\>\\|bool\\|int\\|string\\|null given\\.$#"
			count: 1
			path: src/Runners/PHPUnit/Options.php

		-
			message: "#^Parameter \\#34 \\$whitelist of class ParaTest\\\\Runners\\\\PHPUnit\\\\Options constructor expects string\\|null, array\\<string\\>\\|bool\\|int\\|string\\|null given\\.$#"
			count: 1
			path: src/Runners/PHPUnit/Options.php

		-
			message: "#^Parameter \\#35 \\$orderBy of class ParaTest\\\\Runners\\\\PHPUnit\\\\Options constructor expects string, array\\<string\\>\\|bool\\|int\\|string given\\.$#"
			count: 1
			path: src/Runners/PHPUnit/Options.php

		-
			message: "#^In method \"ParaTest\\\\Runners\\\\PHPUnit\\\\SuiteLoader\\:\\:getMethodTests\", caught \"Throwable\" must be rethrown\\. Either catch a more specific exception or add a \"throw\" clause in the \"catch\" block to propagate the exception\\. More info\\: http\\://bit\\.ly/failloud$#"
			count: 1
			path: src/Runners/PHPUnit/SuiteLoader.php

		-
			message:
				"""
					#^Usage of deprecated trait PHPUnit\\\\Framework\\\\TestListenerDefaultImplementation in class ParaTest\\\\Runners\\\\PHPUnit\\\\Worker\\\\NullPhpunitPrinter\\:
					The `TestListener` interface is deprecated$#
				"""
			count: 1
			path: src/Runners/PHPUnit/Worker/NullPhpunitPrinter.php

		-
			message: "#^Property ParaTest\\\\Runners\\\\PHPUnit\\\\Worker\\\\RunnerWorker\\:\\:\\$process type has no value type specified in iterable type Symfony\\\\Component\\\\Process\\\\Process\\.$#"
			count: 1
			path: src/Runners/PHPUnit/Worker/RunnerWorker.php

		-
			message: "#^Property ParaTest\\\\Runners\\\\PHPUnit\\\\Worker\\\\WrapperWorker\\:\\:\\$process type has no value type specified in iterable type Symfony\\\\Component\\\\Process\\\\Process\\.$#"
			count: 1
			path: src/Runners/PHPUnit/Worker/WrapperWorker.php

		-
			message: "#^Property ParaTest\\\\Runners\\\\PHPUnit\\\\Worker\\\\WrapperWorker\\:\\:\\$input type has no value type specified in iterable type Symfony\\\\Component\\\\Process\\\\InputStream\\.$#"
			count: 1
			path: src/Runners/PHPUnit/Worker/WrapperWorker.php

		-
			message: "#^Method ParaTest\\\\Runners\\\\PHPUnit\\\\WorkerCrashedException\\:\\:fromProcess\\(\\) has parameter \\$process with no value type specified in iterable type Symfony\\\\Component\\\\Process\\\\Process\\.$#"
			count: 1
			path: src/Runners/PHPUnit/WorkerCrashedException.php

		-
			message: "#^Method ParaTest\\\\Tests\\\\TestBase\\:\\:setUpTest\\(\\) is not final, but since the containing class is abstract, it should be\\.$#"
			count: 1
			path: test/TestBase.php

		-
			message: "#^Offset 'TEST_TOKEN' does not exist on array\\('PARATEST' \\=\\> 1, \\?'TEST_TOKEN' \\=\\> int, \\?'UNIQUE_TEST_TOKEN' \\=\\> string\\)\\.$#"
			count: 1
			path: test/Unit/Runners/PHPUnit/OptionsTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertIsString\\(\\) with string will always evaluate to true\\.$#"
			count: 1
			path: test/Unit/Runners/PHPUnit/OptionsTest.php

		-
			message: "#^Offset 'UNIQUE_TEST_TOKEN' does not exist on array\\('PARATEST' \\=\\> 1, \\?'UNIQUE_TEST_TOKEN' \\=\\> string, 'TEST_TOKEN' \\=\\> int\\)\\.$#"
			count: 1
			path: test/Unit/Runners/PHPUnit/OptionsTest.php

		-
			message: "#^Method ParaTest\\\\Tests\\\\Unit\\\\Runners\\\\PHPUnit\\\\SuiteLoaderTest\\:\\:getLoadedPaths\\(\\) should return array\\<string\\> but returns array\\<int, int\\|string\\>\\.$#"
			count: 1
			path: test/Unit/Runners/PHPUnit/SuiteLoaderTest.php

