parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#2 \\$phpunit of class ParaTest\\\\Options constructor expects non\\-empty\\-string, string given\\.$#"
			count: 1
			path: src/Options.php

		-
			message: "#^Parameter \\#7 \\$phpunitOptions of class ParaTest\\\\Options constructor expects array\\<non\\-empty\\-string, non\\-empty\\-string\\|true\\>, array\\<'bootstrap'\\|'cache\\-directory'\\|'configuration'\\|'coverage\\-filter'\\|'disallow\\-test\\-output'\\|'dont\\-report\\-useless…'\\|'exclude\\-group'\\|'fail\\-on\\-incomplete'\\|'fail\\-on\\-risky'\\|'fail\\-on\\-skipped'\\|'fail\\-on\\-warning'\\|'filter'\\|'group'\\|'no\\-configuration'\\|'order\\-by'\\|'process\\-isolation'\\|'random\\-order\\-seed'\\|'stop\\-on\\-defect'\\|'stop\\-on\\-error'\\|'stop\\-on\\-incomplete'\\|'stop\\-on\\-risky'\\|'stop\\-on\\-skipped'\\|'stop\\-on\\-warning'\\|'strict\\-coverage'\\|'strict\\-global\\-state', non\\-empty\\-array\\|float\\|int\\<min, \\-1\\>\\|int\\<1, max\\>\\|non\\-falsy\\-string\\|true\\> given\\.$#"
			count: 1
			path: src/Options.php

		-
			message: "#^Part \\$value \\(array\\|float\\|int\\|string\\) of encapsed string cannot be cast to string\\.$#"
			count: 1
			path: src/Options.php

		-
			message: "#^Call to an undefined method PHPUnit\\\\Metadata\\\\Api\\\\CodeCoverage\\:\\:linesToBeIgnored\\(\\)\\.$#"
			count: 1
			path: src/WrapperRunner/ApplicationForWrapperWorker.php

		-
			message: "#^Call to an undefined method PHPUnit\\\\Runner\\\\Filter\\\\Factory\\:\\:addNameFilter\\(\\)\\.$#"
			count: 1
			path: src/WrapperRunner/ApplicationForWrapperWorker.php

		-
			message: "#^Match expression does not handle remaining value\\: string$#"
			count: 1
			path: src/WrapperRunner/ResultPrinter.php

		-
			message: "#^Access to an uninitialized readonly property ParaTest\\\\WrapperRunner\\\\WrapperWorker\\:\\:\\$coverageFile\\.$#"
			count: 2
			path: src/WrapperRunner/WrapperWorker.php

		-
			message: "#^Access to an uninitialized readonly property ParaTest\\\\WrapperRunner\\\\WrapperWorker\\:\\:\\$junitFile\\.$#"
			count: 2
			path: src/WrapperRunner/WrapperWorker.php

		-
			message: "#^Access to an uninitialized readonly property ParaTest\\\\WrapperRunner\\\\WrapperWorker\\:\\:\\$teamcityFile\\.$#"
			count: 2
			path: src/WrapperRunner/WrapperWorker.php

		-
			message: "#^Access to an uninitialized readonly property ParaTest\\\\WrapperRunner\\\\WrapperWorker\\:\\:\\$testdoxFile\\.$#"
			count: 2
			path: src/WrapperRunner/WrapperWorker.php

		-
			message: "#^Class ParaTest\\\\WrapperRunner\\\\WrapperWorker has an uninitialized readonly property \\$coverageFile\\. Assign it in the constructor\\.$#"
			count: 1
			path: src/WrapperRunner/WrapperWorker.php

		-
			message: "#^Class ParaTest\\\\WrapperRunner\\\\WrapperWorker has an uninitialized readonly property \\$junitFile\\. Assign it in the constructor\\.$#"
			count: 1
			path: src/WrapperRunner/WrapperWorker.php

		-
			message: "#^Class ParaTest\\\\WrapperRunner\\\\WrapperWorker has an uninitialized readonly property \\$teamcityFile\\. Assign it in the constructor\\.$#"
			count: 1
			path: src/WrapperRunner/WrapperWorker.php

		-
			message: "#^Class ParaTest\\\\WrapperRunner\\\\WrapperWorker has an uninitialized readonly property \\$testdoxFile\\. Assign it in the constructor\\.$#"
			count: 1
			path: src/WrapperRunner/WrapperWorker.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: test/Unit/WrapperRunner/WrapperRunnerTest.php
