includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/ekino/phpstan-banned-code/extension.neon
    - vendor/thecodingmachine/phpstan-strict-rules/phpstan-strict-rules.neon
    - phpstan-baseline.neon

rules:
    - Ergebnis\PHPStan\Rules\Expressions\NoEvalRule
    - Ergebnis\PHPStan\Rules\Methods\FinalInAbstractClassRule
    - Ergebnis\PHPStan\Rules\Methods\PrivateInFinalClassRule

services:
    -
        class: Ergebnis\PHPStan\Rules\Classes\FinalRule
        arguments:
            allowAbstractClasses: true
            classesNotRequiredToBeAbstractOrFinal: []
        tags:
            - phpstan.rules.rule
    -
        class: Ergebnis\PHPStan\Rules\Classes\PHPUnit\Framework\TestCaseWithSuffixRule
        tags:
            - phpstan.rules.rule

parameters:
    level: max
    tipsOfTheDay: false
    bootstrapFiles:
        - test/constants.php
    paths:
        - bin/
        - bin/paratest
        - src/
        - test/
    excludePaths:
        analyseAndScan:
            - test/fixtures/*
            - test/tmp/*
