<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="./test/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
>
    <testsuites>
        <testsuite name="ParaTest Unit Tests">
            <directory>./test/ParaTest/</directory>
        </testsuite>
        <testsuite name="ParaTest Integration Tests">
            <directory>./it/ParaTest/</directory>
        </testsuite>
        <testsuite name="ParaTest Functional Tests">
            <directory>./functional/</directory>
        </testsuite>
    </testsuites>
</phpunit>